@media (max-width: 1200px)
    .container
        max-width: 960px
@media (max-width: 992px)
    .container
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &-menu
            padding: 22px 0
            &__link
                font-size: 12px
                line-height: 15px
    .search
        margin-left: auto
        width: 340px
@media (max-width: 768px)
    .container
        max-width: 576px
        width: 85%
    .navbar
        &__search, &-menu, &__user
            display: none
    .menu
        &-button
            padding: 0
            display: flex
            width: 16px
            height: 11px
            flex-wrap: wrap
            align-content: space-between
            border: none
            background-color: $light
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $font-color
    .stars
        flex-basis: auto
    .hotel
        &-info
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
            &__text
                width: 100%
            &__name
                margin-top: 10px
        &-wrapper
            justify-content: space-between
        &-name
            flex-basis: 100%
@media (max-width: 576px)
    .logo
        width: 99px
